/*Background*/
body {
    background-color: #e5e5e5;
}

/* Fix to Static Navbar*/
body { 
    padding-top: 70px; 
}
/*Style for the class title*/
.title {
    text-shadow: 1px;
    font-weight: bold;
}
.box {
    
    border-radius: 2px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.box-title {
    background: #ddd;
    margin-bottom: 0px;
    padding: 5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.box-text {
    padding: 5px;
    border-bottom: solid 1px;
    background: #f5f5f5;
}

/*Padding*/
.top-padding {
    padding-top: 8px;
}
.right-margin {
    margin-right: auto;
}