/* Fix to Static Navbar*/
body { 
    padding-top: 70px; 
}
/*Style for the class title*/
.title {
    text-shadow: 1px;
    font-weight: bold;
}
.box {
    
    border-radius: 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.box-title {
    background: #e5e5e5;
    margin-bottom: 0px;
    padding: 5px;
    border-top: solid 2px;
    border-bottom: solid 1px;
}

.box-text {
    padding: 5px;
    border-bottom: solid 2px;
    background: #f5f5f5;
}